$color-green: #00ff00;

@mixin flexColumn($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

.userInfo {
    width: 30%;
    box-sizing: border-box;
    @include flexColumn(10px);
    max-height: 780px;
    overflow: auto;

    p {
        margin: 0;
        font-size: 16px;
        color: white;
        font-weight: bold;
    }

    ol {
        margin: 0;
        padding: 0;
        font-size: 14px;
        list-style-type: none;
        @include flexColumn(10px);

        li {
            background-color: #252526;
            padding: 10px;
            border-left: 1px solid $color-green;
            border-radius: 2px;
            color: $color-green;

            &:hover {
                background-color: $color-green;
                color: #000;
                &::before {
                    color: #000;
                }
            }

            &::before {
                content: ">";
                color: $color-green;
                margin-right: 10px;
            }
        }
    }
}