$bg-color: #252526;
$font-size: 14px;
$padding: 8px 12px;
$btn-color: #FFA500;
$shadow-borders: 0 0 0 1px;

.uploadLabel {
    background-color: $bg-color;
    border: none;
    position: relative;
    width: 100%;
    color: white;
    font-family: "Anonymous Pro", monospace;
    font-size: $font-size;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
        padding: $padding;
    }

    .uploadLabel_btn {
        background-color: $btn-color;
        text-align: center;
        cursor: pointer;

        &:hover {
            outline: none;
            box-shadow: $btn-color $shadow-borders;
        }
    }
}